@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400&display=swap');

:root{
    --primary-color: #60a5fa;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* containers */
.container{
    padding: 0rem 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}

hr{
    margin: 2rem 0rem
}

/* links */
.link{
    text-decoration: none;
    /* padding: top right bottom left; top one will automatically be applied to bottom, similarly right to left */
    padding: 0.5rem 1rem;
}

.link-primary{
    background-color:var(--primary-color);
    border-radius: 0.5rem;
    color:white;
}

.link-secondary{
    color:var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* lists */

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}